# Ignore everything by default
*
# Keep this .gitignore file
!.gitignore
# Keep license
!LICENSE
# Keep index.html for GitHub Pages
!index.html

# Allow the WebPage directory and its contents
!/WebPage/
!/WebPage/**

# Allow the logo directory and its contents
!/images/
!/images/**
!WebPageLauncher.py
!download_windows.html
!download_linux.html

# Documentation pages
!docs-guide.html
!docs-sdks.html
!docs-config.html
!docs-engine.html
!docs-bc-plugin.html
!docs-bcasl.html